<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
    textarea{
        vertical-align: top;
    }
    </style>
</head>
<body>
    <h1>Messages</h1>
    <div>
            
            <p><%= message.message %></p>
            <br>
            <br>
            Name : <%= message.name %>,  
            <br>
            Updated At : <%= message.updated_at %>
        
    </div>
    <hr>
    <h3>Comments</h3>
    <div>
            <% for(const i of message.comments){ %>
            
            <h1><%= i %></h1>
            <p><%= i.comment %></p>
            <br>
            <br>
            Name : <%= i.name %>
            <br>
            Updated At : <%= i.updated_at %>
            <% } %>
    </div>
    <hr>
    <div>
        <form action="/messages/<%= message._id %>" method="POST">
            <label for="comment">Comments : </label>
            <textarea name="comment" id="" cols="30" rows="10"></textarea>
            <br>
            <br>
            <label for="name">Name : </label>
            <input type="text" name="name">
            <br>
            <br>
            <button>Submit</button>
        </form>
    </div>
</body>
</html>