<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Edit Mongoose</title>
</head>
<body>
        <h1>Edit : <%= pets.name %></h1>

        <form action="/mongoose/edited/<%= pets._id %>" method="POST">
        <label for="name">Name : </label>
        <input type="text" name="name" placeholder="<%= pets.name %>">
        <br>
        <label for="age">Age : </label>
        <input type="text" name="age" placeholder="<%= pets.age %>">
        <br>
        <label for="sex">Sex : </label>
        <input type="radio" name="sex" value="male">Male
        <input type="radio" name="sex" value="female">Female
        <br>
        <label for="nickname">Nickname</label>
        <input type="text" name="nickname" placeholder="<%= pets.nickname %>">
        <br>
        <button>Submit</button>
        </form>
            
        <a href="/"><button>Go back to page</button></a>
</body>
</html>