<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Mongoose Information</title>
</head>
<body>
    <h1>Information : <%= pets.name %></h1>

    <ul>
        
            <li>Name : <%= pets.name %></li>
            <li>Age : <%= pets.age %></li>
            <li>Sex : <%= pets.sex %></li>
            <li>Nickname : <%= pets.nickname %></li>
        
    </ul>
    <a href="/mongoose/edit/<%= pets._id %>"><button>EDIT</button></a>
    <a href="/"><button>Go back to page</button></a>
</body>
</html>